{% extends 'todo/common.html' %}
{% load static %}

{# commonの{% block content %}ないに表示する内容を記述します。 #}
{% block content %}
  <h1>{{ task.title }}</h1>
  <ul>
    <li>Posted at: {{ task.posted_at }}</li>
    {% if task.due_at %}
    <li>Due at: {{ task.due_at }}</li>
    {% endif %}
    {% if task.completed %}
    <li>Status: Completed</li>
    {% else %}
    <li>Status: Not Completed</li>
    {% endif %}
  </ul>

  <div>
    <a href="{% url 'index' %}">Top</a>
		<a href="{% url 'update' task.id %}">Edit</a>
    <a href="{% url 'delete' task.id %}">Delete</a>
  </div>
{% endblock %}